---
import Image from "astro/components/Image.astro"
import Calcimg from "../assets/icon-calculator.svg"
---
<h3 class="">Calculator</h3>
<p class="">Uses data from past projects to provide better delivery estimates</p>

<Image src={Calcimg} alt="" />


  