---
import Image from "astro/components/Image.astro"
import Karmaimg from "../assets/icon-karma.svg"
---
<h3 class="">Karma</h3>
<p class="">Regularly evaluates our talent to ensure quality</p>

<Image src={Karmaimg} alt="" />


