---
import Image from "astro/components/Image.astro"
import Superimg from "../assets/icon-supervisor.svg"
---

<h3 class="">Supervisor</h3>
<p class="">Monitors activity to identify project roadblocks</p>
<Image src={Superimg} alt="" />
