---
import Image from "astro/components/Image.astro"
import Teamimg from "../assets/icon-team-builder.svg"
---
<h3 class="">Team Builder</h3>
<p class="">Scans our talent network to create the optimal team for your project</p>

<Image src={Teamimg} alt="" />